name: Update Publications

on:
  schedule:
    - cron: '0 0 * * 1' # 매주 월요일 실행
  workflow_dispatch: # 수동 실행 가능

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests habanero PyYAML

      - name: Run script
        run: python update_publications.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add _data/publications.yml
          git commit -m "Update publications from ORCID/Crossref" || exit 0
          git push
